body {
  font-family: "Verdana", "Helvetica Neue", Helvetica, sans-serif;
  color: #2F4E6F;
  font-size: 16px;
}

div.content{
  margin: 66px auto 0 auto;
  width: 666px;
}

div.header h1 {
  font-size: 40px;
}

button {
  color: #fff;
  background-color: #cc6633;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px 6px;
}
